.Button__container {
  display: flex;
  justify-content: center;
}

.Button__default {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--main-bg-color-maroon);
  padding: 1rem;
  border: white 1rem solid;
  border-radius: 50%;
  font-size: large;
  max-width: 150px;
}

.Button__default--bottom {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--main-bg-color-maroon);
  padding: 1rem;
  border: white 1rem solid;
  border-radius: 50%;
  font-size: large;
  margin-bottom: 6rem;
}
