.Card {
  background-color: white;
  border: 5px solid #eeeeee;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
}

.Card__title {
  color: maroon;
  text-decoration: underline;
  margin-top: 0rem;
}

.Card__tag__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.Card__tags {
  background-color: #eff6ff;
  color: black;
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 2rem;
}
