.Navbar__wrapper {
  position: fixed;
  bottom: 0;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  gap: 1rem;
  overflow: hidden;
}

.Navbar__content {
  background-color: lightgray;
  color: rgb(243, 239, 239);
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 2rem;
  color: black;
}

.Navbar--active {
  background-color: lightskyblue;
  color: black;
}

a:hover {
  background: lightblue;
  cursor: pointer;
}
