.Navbar__wrapper {
  position: fixed;
  bottom: 0;
  width: 97.75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
}

.Navbar__content {
  background-color: #eff6ff;
  color: black;
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 2rem;
  gap: 1rem;
}

.Navbar--highlight {
  background-color: lightgray;
}
